body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1a365d;
    font-family: monospace;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #2b2b2b;
    flex-direction: column;
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: #fff;
}

.reset{
    padding: 15px 20px;
    color: white;
    background: #13294b;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

